*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.max-content-size{
    max-width: 1280px;
    margin: 0 auto;
}


.firstrow-wrapper{
    background-color: rgb(40, 26, 63);
    height: 4rem;
}


.firstrow{
    display: flex;
}


#logo{
    height: 4rem;
}
